.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    /** Für Aufgabe 1 kannst du von hier... **/
    justify-content: space-evenly;
    flex-wrap: wrap;
    /** ...bis hier CSS-Deklarationen hinzufügen. **/
}

.flex-item {
    background: tomato;
    margin: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    

}