.flex-container{
    width: 100%;
    display: flex;
}
.flex-item{
    flex: 1;
    flex-basis: 200px;
    border: 1px solid black;
    height: 100%;
}
#midItem{
    flex-grow: 1;
    flex: 1;
    border: 1px solid black;
    height: 100%;
}
